---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import RecentPosts from "../components/RecentPosts.astro";
import RecentProjects from "../components/RecentProjects.astro";
import { HERO_TEXT, HERO_TITLE, SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<BaseLayout description={SITE_DESCRIPTION} title={SITE_TITLE}>
  <main transition:animate="slide" class="xl:px-20">
    <Hero title={HERO_TITLE} text={HERO_TEXT} />
    <RecentPosts />
    <RecentProjects />
  </main>
</BaseLayout>
