---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import RecentPosts from "../components/RecentPosts.astro";
import RecentProjects from "../components/RecentProjects.astro";
---

<BaseLayout>
  <main class="xl:px-20">
    <Hero />
    <RecentPosts />
    <RecentProjects />
  </main>
</BaseLayout>
