---
import HeaderLink from "./HeaderLink.astro";
---

<header
  class="pl-12 pb-12 pr-12 pt-8 text-black font-medium text-xl flex justify-between"
>
  <!-- TODO: One day change to a fancy logo -->
  <a href="/">Tiago Rodrigues</a>
  <nav class="flex justify-end w-1/6">
    <div class="flex w-full justify-evenly items-center">
      <HeaderLink href="/works">Works</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/contacts">Contact</HeaderLink>
    </div>
  </nav>
</header>
