<section class="flex justify-between">
  <article class="w-1/2 pr-20 flex flex-col gap-5 text-dark">
    <h1 class="font-heading font-bold text-8xl">
      Hi, I'm Tiago, Software Developer.
    </h1>
    <p class="text-lg w-3/4">
      I am a University Student from a small place called Milhazes living in
      Porto, Portugal. I love going to the gym, watching Benfica win and
      improving myself in every way I can, every single day. Welcome to my page!
    </p>
    <div class="bg-primary text-white w-64 py-4 rounded-sm text-xl text-center">
      <a href="/resume.pdf">Download Resume</a>
    </div>
  </article>

  <aside class="w-1/2 flex items-center justify-center">
    <img class="w-1/2 rounded-full" src="/profile.jpg" alt="Profile Picture" />
  </aside>
</section>
