---
import { Image } from "astro:assets";
import profileImage from "../assets/profile.jpg";
const { title, text } = Astro.props;
---

<section class="flex flex-col md:flex-row xl:gap-36">
  <article
    class="order-last md:order-first flex flex-col items-center md:items-start gap-5 pt-5 md:pt-0 text-dark text-center md:text-start"
  >
    <h1 class="font-heading font-bold text-3xl md:text-6xl">
      {title}
    </h1>
    <p class="text-lg">
      {text}
    </p>
    <a
      href="/resume.pdf"
      class="bg-primary text-white w-64 py-4 rounded-xs text-xl text-center"
      data-astro-reload>Download Resume</a
    >
  </article>

  <aside class="flex items-center justify-center">
    <Image
      class="w-3/4 sm:w-2/3 md:w-full lg:w-3/4 rounded-full"
      src={profileImage}
      alt="Profile Picture"
    />
  </aside>
</section>
