---
import { getCollection } from "astro:content";
import ProjectCard from "./ProjectCard.astro";

const projects = (await getCollection("projects"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<section class="flex flex-col items-center py-24 text-dark">
  <div class="md:flex md:items-center md:justify-between w-full">
    <h2
      class="font-heading font-bold text-3xl pb-16 md:text-5xl text-center md:text-start"
    >
      Latest Projects
    </h2>
    <a href="/projects/1" class="text-primary hidden md:block">View all</a>
  </div>
  <div class="flex flex-col gap-10 w-full text-center md:text-start">
    {
      projects.map((project) => (
        <ProjectCard slug={project.slug} {...project.data} />
      ))
    }
  </div>
  <a href="/projects/1" class="text-primary pt-5 md:hidden">View all</a>
</section>
