---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <style>
      .wrapper {
        min-height: 100%;
        display: grid;
        grid-template-rows: auto 1fr auto;
      }
    </style>
    <div class="wrapper">
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>
